.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: black solid 1px;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
  height: fit-content;
  > h3 {
    font-size: 26px;
    font-weight: bold;
  }
  > .delete {
    background-color: brown;
  }
  > button {
    width: 100%;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    transition-duration: .3s;
    cursor: pointer;
    &:hover {
      opacity: .8;
      transition-duration: .3s;
    }
  }
  > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.task_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}